/* |||||||||||||||||||||||| sections ||||||||||||||||| */

/* ||||||||||||| hero |||||||||||*/
.hero {
    padding-top: 100px;
    background-color: var(--header-hero-bacground-color);
    background-image: url("https://static.wixstatic.com/media/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png/v1/fill/w_613,h_600,al_br,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/84770f_994ffe746a074d1f8a2ec9456a8bf1ff~mv2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero__wrapper {
    /* display: flex; */
    padding-left: 0;
    padding-right: 0;
}
.hero__information {
    max-width: 400px;
}
.hero p {
    margin-bottom: 32px;
}

/* ||||||||||||||| service  */
.service h3 {
    font-size: var(--font-size-large);
    max-width: 400px;
    margin: auto auto 60px;
    margin: none;
    text-align: center;
}

.service__holder {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
@media screen and (max-width: 750px) {
    .service__holder {
        flex-wrap: wrap;
    }
}
.service__card {
    flex-basis: 250px;
    max-width: 360px;
    flex-grow: 1;
}
.service__card div:first-child {
    /* background-color: red; */
    padding: var(--padding);
    width: 100px;
    height: 100px;
    margin: auto;
}
.service__card svg {
    width: 100%;
    height: 100%;
}
.service__discription .service-type {
    margin-bottom: 16px;
    /* color: var(--primary-color); */
}
.service__discription .detail {
    font-size: var(--font-size-small);
}

/* ||||||||| profile */
.profile {
    background-color: rgba(1, 2, 25, 0.949);
    color: white;
}
.profile__h3 {
    font-size: min(100vw, 2.3rem);
    margin-bottom: 3rem;
    color: var(--white);
}
.profile-count__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}
.profile-card {
    text-align: center;
    /* background-color: rgba(106, 106, 106, 0.288); */
    flex-basis: 200px;
    padding: calc(var(--padding) / 2);
    position: relative;
}

.dot-div {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: -20px;
    border-radius: 20px;
}
@media screen and (max-width: 836px) {
    .profile-count__container {
        grid-template-columns: 1fr 1fr;
    }
    .fade-timely {
        display: none;
    }
}
.profile-count-number {
    font-size: 80px;
    margin: 24px 0 50px;
}

/* ||||||||||||||| about */
.about__img-ilustration-container {
    background-image: url("https://static.wixstatic.com/media/nsplsh_96a7fd9560594ef2bc79458dff8f83ff~mv2.jpg/v1/fill/w_613,h_1509,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/nsplsh_96a7fd9560594ef2bc79458dff8f83ff~mv2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-cont {
    flex: 1;
}
.about__heading {
    font-size: var(--heading-font-size);
    line-height: 40px;
    max-width: 450px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}
.about-cont p:nth-of-type(2),
.about-cont p:nth-of-type(3),
.about-cont p:nth-of-type(4) {
    margin-bottom: 1.5rem;
    line-height: 26px;
}
.about__img-ilustration-container {
    /* flex-basis: 500px; */
}

/* |||||||||||||| Contact */
.contact__h2 {
    text-align: left;
}
.contact__heading {
    font-size: calc(var(--heading-font-size) - 8px);
    margin: 30px 0;
}
.contact__element-container {
    display: flex;
    row-gap: 4rem;
    justify-content: space-between;
}

.contact__form {
    display: flex;
    flex-direction: column;
    row-gap: 1.4rem;
}

.contact__form-name-cont {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.name-field {
    flex: 1;
    /* background-color: red; */
}
form label {
    display: block;
}
.name-field input {
    width: 100%;
}
form label[for="email"] {
    position: relative;
    /* background-color: blue; */
}
form label[for="email"]::after {
    content: " * ";
    color: red;
}
.contact__form input,
form textarea {
    transition: var(--animation-duration);
    border: none;
    border-bottom: 2px solid grey;
    background-color: #00000000;
    width: 100%;
    /* max-width: 400px; */
}
.contact__form input:focus,
form textarea:focus {
    outline: none;
    border-bottom-color: var(--primary-color);
}
form textarea {
    resize: none;
}

form button[type="submit"] {
    width: fit-content;
    border: none;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--white);
}

/* |||||||||||||| footer */
footer {
    padding: 2rem;
    text-align: center;
}

/* |||||||||||||||||||||||| animation */
.slideUp {
    animation: slideUp 0.875s cubic-bezier(0.075, 0.82, 0.1, 1) both;
}
.lineHightAnimation {
    animation: lineHightAnimation 0.5s ease-out;
}
.slideUp--delay1 {
    animation-delay: 0.3s;
}
.slideUp--delay2 {
    animation-delay: 0.5s;
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes lineHightAnimation {
    from {
        line-height: 40px;
        opacity: 0.4;
    }
    to {
        line-height: 26px;
        opacity: 1;
    }
}
@media screen and (min-width: 700px) {
    .about-wrapper {
        flex-direction: row;
    }
    .about__img-ilustration-container {
        height: 600px;
        /* align-self: center; */
        margin: auto;
    }
}

@media (max-width: 700px) {
    /* contact */
    .contact__element-container {
        flex-direction: column;
    }

    .hero__wrapper {
        /* display: flex; */
        padding: var(--padding);
    }
}
